---
import Header from '../components/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="日本の主要都市の天気情報" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | AtmoCast</title>
  </head>
  <body class="bg-slate-50 min-h-screen">
    <Header />
    <slot />
  </body>
</html>